/* *{
    margin: 0%;
    padding: 0%;
} */

.title-image{
    background-image: url(images2/background1.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin: 0%;
    padding: 0%;
    
}
.navbar-brand{
    font-family: ubuntu;
    padding: 5% 8%;
    font-size:3rem;
    font-weight: bolder;
    color: white;
}
/* Home-About-Contact */
.nav-link-options{
    padding: 8px;
    color: rgb(0, 119, 255);
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: ubuntu;
}

.name{
    text-align: center;
    padding: 3%;
}
.name-h1{
    font-family: Montez;
    color: rgb(227, 253, 253);
    /* color: rgb(0, 119, 255); */
    font-size: 3rem;
}
.name-p{
    font-family: montez;
    font-size: 5rem;
    /* color: rgb(113, 201, 206); */
    color: white;
}
.name-description{
    font-family: montserrat;
    /* color: rgb(0, 119, 255);  */
    color: black;
    font-size: 1.25rem;
}
/* Skills */
.skills{
    padding-top: 10%;
}
.skills-images{
    height: 20%;
}